<%- layout('layouts/main.ejs') %>

<form action="./signup" method="POST">
  <input type="email" name="email" placeholder="Ingrese Email" required />
  <input type="password" name="password" placeholder="Contraseña" />
  <button type="submit">Registrarme</button>
</form>
