<%- layout('layouts/main.ejs') %>

<form action="./signin" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Contraseña" />
  <button type="submit">Iniciar Sesión</button>
</form>
